---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import PathSearch from '../components/PathSearch.astro';
import { FeeCards } from '../components/FeeCard.jsx';
---

<Layout title="Búsqueda de billete">
    <div class="px-32 pb-20">
        <PathSearch currentSlide="2" transition:persist></PathSearch>
        <h3 class="text-2xl font-bold text-gray-800 my-6 2xl:my-10 2xl:ml-40 relative">
            Elige una tarifa para el viaje de ida (17 de abril de 2024):
        </h3>
        <FeeCards priceBasica={"45"} pricePlus={"55"} pricePro={"65"} client:visible/>
    </div>
    <Footer hrefBack="search-1" hrefNext ="search-3"/>
</Layout>