---
import Layout from '../layouts/Layout.astro';
import PathSearch from '../components/PathSearch.astro';
import ExtrasCard from '../components/ExtrasCard.astro';
---

<Layout title="Búsqueda de billete">
    <div class="px-32 pb-20">
        <PathSearch currentSlide="5" transition:persist></PathSearch>
        <h3 class="text-2xl font-bold text-gray-800 my-6 2xl:my-10 2xl:ml-40 relative">
            Extras:
        </h3>
        <div class="grid grid-cols-2 gap-4 px-40">
            <ExtrasCard>17 Abril 2024</ExtrasCard>
            <ExtrasCard>24 Abril 2024</ExtrasCard>
        </div>
    </div>
</Layout>