---
---

<div class="w-full h-24 flex items-center bg-green-100 border border-green-600 text-black rounded-full">
    <slot name="pre" class="w-1/5" />
    <!-- Vertical line -->
    <div class="border-l border-r border-green-600 h-full"></div> 
    <slot class="w-3/5" />
    <!-- Vertical line -->
    <div class="border-l border-r border-green-600 h-full"></div> 
    <slot name="post" class="w-1/5" />
</div>
