---
interface Props {
    title: string;
    price: string;
    equipaje: boolean;
    cancelacion: boolean;
    asiento: boolean;
}

const {title, price} = Astro.props;
const arrayBools = [Astro.props.equipaje, Astro.props.cancelacion, Astro.props.asiento];
const arrayConditions = ["Equipaje: 2 bultos de un máximo de 20kgs", "Cancelación gratuita", "Elección de asiento"]

let selectedBool = false;
---

<div class="w-full max-w-sm bg-white border border-gray-200 rounded-3xl shadow lg:p-6 2xl:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
        {title}
    </h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-5xl font-extrabold tracking-tight">{price}</span>
        <span class="text-3xl font-semibold">€</span>
        <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/persona</span>
    </div>
    <ul role="list" class="space-y-5 my-7">

        {
        arrayBools.map((booleanArray, index) => (
            <li class:list={[
                "flex mt-1",
                {
                    "items-center": booleanArray,
                    "line-through decoration-gray-500": !booleanArray
                }
            ]}>
                <svg class:list={[
                        "flex-shrink-0 w-4 h-4",
                        {
                            "text-green-700 dark:text-green-500": booleanArray,
                            "text-gray-400 dark:text-gray-500": !booleanArray
                        }
                    ]}
                    aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
                </svg>
                <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">{arrayConditions[index]}</span>
            </li>
        ))}

    </ul>
    <button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-200 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-900 font-medium rounded-3xl text-sm px-5 py-2.5 inline-flex justify-center w-full text-center transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100">{(selectedBool) ? "Elegida": "Elegir"}</button>
</div>
