---
import TrainLogo from '../components/TrainLogo.astro';
import HeaderButton from '../components/HeaderButton.astro';
---

<header class="bg-gray-800 py-2 fixed top-0 w-full z-20">
    <nav class="container mx-auto flex justify-between items-center">
        <!-- Left side: Logo and company name -->
        <a href="/">
            <div class="flex items-center">
                    <TrainLogo class="fill-green-300" width="20" height="23.77"/>
                    <h1 class="text-white text-lg font-bold title-font px-2">ENTRETRENES</h1>
            </div>
        </a>
        
        <!-- Right side: Buttons -->
        <div class="flex items-center">
            <!-- Language button -->
            <HeaderButton class="py-2" href="/">
                <svg slot="before" class="icon icon-tabler icon-tabler-language" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 5h7" /><path d="M9 3v2c0 4.418 -2.239 8 -5 8" /><path d="M5 9c0 2.144 2.952 3.908 6.7 4" /><path d="M12 20l4 -9l4 9" /><path d="M19.1 18h-6.2" /></svg>                
                Idioma
            </HeaderButton>
            
            <!-- Profile button -->
            <HeaderButton class="py-2" href="/">
                <svg slot="before" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                Mi perfil
            </HeaderButton>
        </div>
    </nav>
</header>

<style>
    .title-font {
        font-family: 'Helios', sans-serif;
        letter-spacing: 3px;
    }
</style>
