---
const { currentSlide } = Astro.props;

const arraySteps = [
      ["Viaje de ida", "after:ml-2"],
      ["Selección de tarifa", "after:-ml-0.5"],
      ["Viaje de vuelta", "after:-ml-0.5"],
      ["Selección de tarifa", "after:-ml-1"],
      ["Extras de viajes", "after:ml-1"],
      ["Información del viajero", ""]
    ];

---

<ol class="flex justify-center w-full pt-24 2xl:px-72 lg:px-36">
{
  arraySteps.map((array, index) => (
    <li class:list={[
              "inline-block text-green-900",
              {
                "w-full": ((index+1) != 6)
              }            
          ]}>
      <div class="flex justify-start">
        <div class="flex flex-col justify-center items-center">
          <span id="train-1" class:list={[
              "flex items-center justify-center font-bold text-white rounded-full shrink-0",
              {
                "w-10 h-10 bg-green-700 lg:h-12 lg:w-12 dark:bg-green-800": (parseInt(currentSlide) != (index+1))
              }            
          ]}>
              {parseInt(currentSlide) < (index + 1) ? index + 1 : ""}
              {parseInt(currentSlide) === (index + 1) ? <img src="../images/icons/train.png" class="-mb-2" width="57" height="57" alt="Tren indicador del paso por el que el usuario va del formulario" />: ""}
              {parseInt(currentSlide) > (index + 1) ? <svg class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg> : ""}
          </span>
          {
            parseInt(currentSlide) > (index + 1) ? 
            <a href={`search-${(index+1)}`} class="hover:text-green-600">
                <span class="text-sm flex justify-center text-center font-bold mt-4">{array[0]}</span>
            </a> : 
            <span class="text-sm flex justify-center text-center font-bold mt-4">{array[0]}</span>
          }
        </div>
        {(index + 1) !== 6 && <div class={`w-full after:content-[''] after:w-full after:h-1 after:border-b after:border-green-200 after:border-4 after:inline-block dark:after:border-green-300 after:mt-5 ${array[1]}`}></div>}
      </div> 
    </li>
  ))
}
</ol>