---
import TrainLogo from './TrainLogo.astro';
import { counter, Counter } from './Counter';
import { FormComponent } from './Searchbar.jsx'
---

<div class="mx-auto text-center h-[100vh] bg-image pt-14 flex flex-col justify-center">
    
    <!-- Content -->
    <div class="relative z-10 flex flex-col justify-center items-center">

        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white title-font flex items-center">
            <span>ENTRETRENES</span>
            <span class="ml-2"><TrainLogo width="30"/></span>
        </h2>
        <p class="font-normal text-gray-50 sm:text-xl dark:text-gray-300">
            Los mejores trenes a los mejores precios
        </p>
          <FormComponent client:visible/>   
    </div>
</div>

<style>
    .title-font {
        font-family: 'Helios', sans-serif;
        letter-spacing: 3px;
    }

    .bg-image {
        background-image: url('../images/train-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>